@import '../../variables';

.loginBtn {
  max-width: 400px;
  width: 100%;
  background-color: $blue;
  color: white;
  font-size: 17px !important;
  margin-bottom: 24px;
  border: none;
  outline: none;
}

.bottomBarBtn {
  background-color: $whiteBlue;
  color: $black;
  border: none;
  outline: none;

  &:hover {
    background-color: rgb(215, 219, 220);
  }
}

.tweetInputBtn {
  outline: none;
  border: none;
  background-color: $blue;
  color: white;
  margin-left: 18px;

  &:hover:not(:disabled) {
    background-color: rgb(26, 140, 216);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.profileBtn {
  min-width: 36px;
  min-height: 36px;
  outline: none;
  border: none;
  color: white;
}

.unfollowBtn {
  background-color: rgba(0, 0, 0, 0);
  color: $black;
  border: 1px solid rgb(207, 217, 222);

  &:hover {
    background-color: rgba(244, 33, 46, 0.1);
    border-color: rgb(253, 201, 206);
    color: rgb(244, 33, 46);
  }
}

.followBtn {
  background-color: $black;

  &:hover {
    background-color: rgb(39, 44, 48);
  }
}

.editProfileBtn {
  background-color: $black;
  color: white;
  font-size: 17px !important;
  margin-bottom: 24px;
  border: none;
  outline: none;
}
