.tweet {
  display: flex;
  border-bottom: 1px solid rgb(239, 243, 244);
  padding: 16px;
  width: 100%;
}

.profilePic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
}

.tweetInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  border: none;
  outline: none;
  background-color: none;
  font-family: inherit;
  font-size: 20px;
  padding: 12px 0;
}

.btn {
  margin-left: auto;
  font-family: inherit;
  background-color: rgb(29, 155, 240);
  font-weight: 700;
  font-size: 15px;
  color: white;
  border-radius: 9999px;
  padding: 8px 16px;
  text-align: center;
  transition: background-color 0.2s;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: rgb(26, 140, 216);
  }
}