@import '../../variables';

.container {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);
}

.editModal {
  max-width: 600px;
  width: 100%;
  max-height: 800px;
  overflow-y: scroll;
  padding: 16px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.closeBtn {
  min-height: 36px;
  min-width: 36px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: $black;
  fill: currentcolor;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $grayHover;
  }
}

.headerTitle {
  width: 100%;
  margin-left: 24px;
}

.btn {
  background-color: $black;
  color: white;
  font-size: 17px !important;
  margin-bottom: 24px;
  border: none;
  outline: none;
}

.inputs {
  padding: 16px;
  width: 100%;
  margin-top: 38px;
}

.inputWrap {
  border: 1px solid rgb(207, 217, 222);
  border-radius: 4px;
  position: relative;
  padding: 8px;
  margin-top: 24px;
}

input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  margin-top: 16px;
  padding-top: 12px;
  font-size: 17px;
}

label {
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s all;
}

.labelFocus label {
  top: 0%;
  transform: translateY(0%);
  font-size: 13px !important;
  color: $blue;
}

.labelBlur label {
  top: 50%;
  transform: translateY(-50%);
  font-size: 17px !important;
}

.labelFocus {
  box-shadow: $blue 0px 0px 0px 1px;
  border: 1px solid $blue;
}

.labelFilledInput label {
  color: $gray;
  top: 0%;
  transform: translateY(0%);
  font-size: 13px !important;
}


.cropContainer {
  position: relative;
  width: 200px;
  height: 200px;
}

.images {
  position: relative;
}

.banner {
  width: 100%;
  height: 100%;
  display: block;
}

.profilePic {
  background-color: white;
  border-radius: 50%;
  width: 100%;
  min-width: 48px;
}

.hidden {
  display: none;
}

.pictureInput {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(15, 20, 25, 0.75);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  fill: currentcolor;
  cursor: pointer;
  backdrop-filter: blur(4px);
  opacity: 0.75;
}

.profilePicContainer {
  position: absolute;
  left: 12px;
  top: 60%;
  width: 25%;
  min-width: 48px;
  padding: 4px;
}

.cropper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: visible;
}