.tweet {
  cursor: pointer;
  padding: 16px;
  border-bottom: 1px solid rgb(239, 243, 244);
  transition: background-color 0.2s;
  display: flex;
  line-height: 20px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

a {
  text-decoration: none;
}

.tweetContent {
  width: 100%;
}

.displayName {
  color: rgb(15, 20, 25);
  font-weight: 700;
  font-size: 15px;

  &:hover {
    text-decoration: underline;
  }
}

.username {
  margin-left: 4px;
  color: rgb(83, 100, 113);
}

.date {
  color: rgb(83, 100, 113);
  margin-left: 4px;
}

.dot {
  margin-left: 4px;
  color: rgb(83, 100, 113);
}

.text {
  word-wrap: break-word;
  font-size: 15px;
  line-height: 20px;
  margin-top: 2px;
}

svg {
  height: 1.25em;
  overflow-clip-margin: content-box;
  width: 1.25em;
}

.icons {
  display: flex;
  max-width: 425px;
  justify-content: space-between;
  margin: -8px;
  margin-top: 8px;
}

.icon {
  padding: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentcolor;
  color: rgb(83, 100, 113);
}

.chat {
  &:hover {
    background-color: rgba(29, 155, 240, 0.1);
    color: rgb(29, 155, 240);
  }
}

.retweet {
  &:hover {
    background-color: rgba(0, 186, 124, 0.1);
    color: rgb(0, 186, 124);
  }
}

.like {
  &:hover {
    background-color: rgba(249, 24, 128, 0.1);
    color: rgb(249, 24, 128);
  }
}

.liked {
  color: rgb(249, 24, 128);
}

.profilePic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
  flex-shrink: 0;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  margin-left: 4px;
  line-height: 16px;
  font-size: 13px;
  color: rgb(83, 100, 113);
}