@import '../../variables';

.header {
  width: 275px;
  display: flex;
  justify-content: flex-start;
  line-height: 24px;
  font-size: 20px;
}

.headerFixed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  height: 100%;
  padding: 12px;
}

.logoLink {
  padding: 10px;
  margin-left: 10px;
  margin-top: 8px;
  border-radius: 50%;
  color: $blue;
  fill: currentColor;
  transition: background-color 0.2s;

  & svg {
    transform: translateY(10%);
  }

  &:hover {
    background-color: $grayHover;
  }
}

.headerLink {
  padding: 12px 20px;
  margin-top: 8px;
  display: flex;
  border-radius: 9999px;
  color: $black;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $grayHover;
  }
}

.headerText {
  margin-left: 16px;
  margin-right: 8px;
}

.profilePic {
  width: 40px !important;
  height: 40px !important;
}

.account {
  display: flex;
}

.accountInfo {
  font-size: 15px;
  line-height: 20px;
  display: block;
  max-width: 100px;
  
  & p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
  }
}