.header {
  width: 275px;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  color: #0f1419;
  line-height: 24px;
  padding: 1rem;
  align-items: flex-end;
  flex-direction: column;
}

.headerLink {
  padding: 12px 20px;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;

  &:hover {
    background-color: rgba(15, 20, 25, 0.1);
  }
}

.headerText {
  margin-left: 16px;
  margin-right: 8px;
}