@import '../../variables';

.tweets {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noTweets {
  text-align: left;
  padding: 32px;
}

.textLarge {
  font-size: 31px;
  color: $black;
  margin-bottom: 4px;
  font-weight: 800;
  line-height: 36px;
}