$black: rgb(15, 20, 25);
$blue: rgb(29, 155, 240);
$whiteBlue: rgb(239, 243, 244);
$gray: rgb(83, 100, 113);
$grayHover: rgba(15, 20, 25, 0.1);
$red: rgb(249, 24, 128);

$border: 1px solid $whiteBlue;