@import '../../variables';

.bottomBar {
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  background-color: $blue;
  color: white;
}

.text {
  display: flex;
  flex-direction: column;

  &__large {
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;
  }
}