@import '../../variables';

.loginModal {
  max-width: 600px;
  width: 100%;
  padding: 16px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 16px;
}

.twitterIcon {
  width: 48px;
  height: 48px;
  color: $blue;
  fill: currentcolor;
  margin-bottom: 16px;
}

.text {
  margin-bottom: 32px;
  color: $gray;
  font-size: 15px;
}

.textLarge {
  font-size: 26px;
  color: $black;
}
